{{> menu active="about"}}

<article class="message is-info">
  <div class="message-header">
    <p>About</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    Welcome to our web application, where you can upload images and share Point of Interest (POI) with others. Our
    platform is
    designed to
    be fast, secure, and user-friendly, making it easy for you to store and share your POI.
  </div>
  <div class="message-header">
    <p>Our Mission</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    Our mission is to provide a convenient and reliable POI sharing solution. We
    believe that everyone should have access to a simple, easy-to-use POI sharing platform that meets their needs,
    regardless of their technical expertise.
  </div>
  <div class="message-header">
    <p>How It Works</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    To use our platform, simply create an account and start creating your own categories and POI. You can upload images
    and
    we'll store them securely in the cloud.
  </div>
  <div class="message-header">
    <p>Security and Privacy</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    We take security and privacy seriously. All images uploaded to our platform are stored securely in the
    cloud, and we use industry-standard security measures to protect your data.
  </div>
</article>