<form action="/dashboard/addcategory" method="POST">
  <div class="field">
    <label class="label">Category Title</label> <input class="input" type="text" placeholder="Enter category title"
      name="title">
  </div>
  <button class="button is-link">Add category</button>
</form>