<form class="box" action="/category/{{category._id}}/addplacemark" method="POST">
  <label>Enter Placemark Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter location" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter category" name="category">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter image" name="image">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Placemark</button>
</form>
