<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        <a href="/admin/deletecategory/{{_id}}" class="ui icon button">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>